<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- API requests go to Node.js -->
        <rule name="API">
          <match url="^api(/.*)?$" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Static content in client/build folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="client/build{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>

        <!-- All other URLs are mapped to the React app's index.html -->
        <rule name="ReactRouterRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
            <add input="{REQUEST_URI}" pattern="^/api" negate="True" />
          </conditions>
          <action type="Rewrite" url="client/build/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude node_modules directory and other unnecessary files from serving -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />

    <!-- Customize iisnode settings -->
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      watchedFiles="*.js;routes\*.js;middleware\*.js;utils\*.js"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="true"
      devErrorsEnabled="true"
    />
  </system.webServer>
</configuration>
