<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="*.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Standalone test rule -->
        <rule name="StandaloneTest" stopProcessing="true">
          <match url="^standalone$" />
          <action type="Rewrite" url="standalone-test.js" />
        </rule>
      
        <!-- Test rule to check Node.js -->
        <rule name="NodeTest" stopProcessing="true">
          <match url="^test$" />
          <action type="Rewrite" url="test.js" />
        </rule>
      
        <!-- API requests go to Node.js -->
        <rule name="API">
          <match url="^api(/.*)?$" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Don't interfere with requests for node-inspector debugging -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^server.js\/debug[\/]?" />
        </rule>

        <!-- Static content in client/build folder -->
        <rule name="StaticContent">
          <action type="Rewrite" url="client/build{REQUEST_URI}" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>

        <!-- All other URLs are mapped to the React app's index.html -->
        <rule name="ReactRouterRoutes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="True" />
            <add input="{REQUEST_URI}" pattern="^/api" negate="True" />
          </conditions>
          <action type="Rewrite" url="client/build/index.html" />
        </rule>
      </rules>
    </rewrite>

    <!-- Exclude node_modules directory and other unnecessary files from serving -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Show detailed errors -->
    <httpErrors existingResponse="PassThrough" errorMode="Detailed" />

    <!-- Customize iisnode settings -->
    <iisnode 
      nodeProcessCommandLine="C:\Program Files\nodejs\node.exe"
      watchedFiles="*.js;routes\*.js;middleware\*.js;utils\*.js"
      loggingEnabled="true"
      logDirectory="logs"
      debuggingEnabled="true" 
      debuggerPortRange="5058-6058"
      debuggerPathSegment="debug"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      devErrorsEnabled="true"
      flushResponse="false"
      enableXFF="false"
      promoteServerVars=""
      configOverrides="iisnode.yml"
    />
  </system.webServer>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
  </system.web>
</configuration>
